<!DOCTYPE html>
<html lang="en">
<head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'>
    <link rel="stylesheet" href="css/style.css">

    <!-- start head script -->
    <link rel="stylesheet" href="css/be-style.css">
    <script src="js/be-script.js"></script>
    <!-- end head script -->
</head>

<body class="booking-page">

<!-- navbar -->
<jcms:module:header/>
<!-- navbar end -->

<!-- inner banner -->
<div class="booking_banner_image text-center">
    <nav aria-label="breadcrumb">
        <h2 class="text-white">Booking</h2>
        <ol class="breadcrumb text-white">
            <li class="breadcrumb-item"><a href="home" class="text-white text-decoration-none">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
        </ol>
    </nav>
</div>
<!-- inner banner end -->

<!-- content -->
<div class="container margin_20 mb-5">
    <!-- start Booking form script -->
    <div id='be-booking-form'>&nbsp;</div>
    <!-- end Booking form script -->
</div>
<!-- content end-->

<!-- new footer -->
<jcms:module:footer-booking/>
<!-- new footer end -->

<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script src='https://code.jquery.com/ui/1.13.2/jquery-ui.js'></script>
<script src="js/index.js"></script>
</body>

</html>