<!DOCTYPE html>
<html lang="en">
<head>
  <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css'>
 <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-zoom.min.css'>
 <link rel="stylesheet" href="css/style.css">
  


  <!-- start head script -->
  <!--<link rel="stylesheet" href="css/be-style.css">-->
  <!--<script src="js/be-script.js"></script>-->
  <!-- end head script -->
</head>

<body>

<!-- navbar -->
<jcms:module:header/>
<!-- navbar end -->

<!-- date picker -->
<!--<jcms:module:booking_undergallery/>-->
<!-- date picker end -->



<!-- image Slider -->
<div class="image_slide">
  <div class="owl-carousel image__slider owl-theme">
    <jcms:module:slideshow/>
  </div>
    
</div>
<!-- image Slider end -->

<!-- about_us section -->

<jcms:module:home-article/>




<!--<div class="hotel___hospitality text-center">
	<div class="nepal_text mb-5">
		<h2>
			Hotels and Hospitality Portfolio</h2>
		<p>
			Photo Longtail is a visionary photography agency that specializes in capturing the essence of hospitality.</p>
	</div>
	        

</div>
<div class="grid" id="lightgallery" data-masonry= '{ "itemSelector": ".grid-item" }'>
            <div class="grid-sizer"></div>
            <jcms:module:gallery-homepage/>

          </div>-->
          
          <div class="home-gallery-container">
  <div class="gallery-parent">
      <div class="position-relative gallery-img-conntainer">
        <div class="image-holder">
          <img src="./image/1.jpg" alt="">
          <div class="position-absolute">
            Drone Shoot
          </div>
        </div>
      </div>
      <div class="position-relative gallery-img-conntainer">
        <div class="image-holder">
          <img src="./image/1.jpg" alt="">
          <div class="position-absolute">
            360&deg; & Virtual Tour
          </div>
        </div>
      </div>
      <div class="position-relative gallery-img-conntainer">
        <div class="image-holder">
          <img src="./image/1.jpg" alt="">
          <div class="position-absolute">
            Photoshoot
          </div>
        </div>
      </div>
      <div class="position-relative gallery-img-conntainer">
        <div class="image-holder">
          <video autoplay loop muted playsinline defaultmuted preload="auto">
            <source src="./video/Lo Mustang Himalayan Resort_Slideshow.mov" type="video/webm">
        
            Your browser does not support the video tag.
      </video>
          <div class="position-absolute">
            Videoshoot
          </div>
        </div>
      </div>
      <div class="position-relative gallery-img-conntainer no-media d-flex flex-column align-items-center justify-content-center">
        <h2>Digital Journey</h2>
        <p class="text-center">Our engagement in the digital world, highlighting the allure and complexity of virtual connections.</p>
      </div>
      <div class="position-relative gallery-img-conntainer">
        <div class="image-holder">
          <img src="./image/1.jpg" alt="">
          <div class="position-absolute">
            Social media contents
          </div>
        </div>
      </div>
    </div>
</div>



<div class="all_over_nepal text-center">
	<div class="nepal_text">
		<h2>
			All over Nepal</h2>
		<p>
			Photo Longtail is a visionary photography agency that specializes in capturing the essence of hospitality.</p>
	</div>
	<div class="image_nepal mt-5">
		<img alt="" class="w-50" src="image/nepal.svg" style="width: 100%;" /></div>
	<div class="container province_name d-flex justify-content-between mt-5 flex-wrap text-left">
	    <jcms:module:gallery-province/>
	</div>
</div>


<!-- about_us section end -->

<jcms:module:testimonialList123 />

<!-- new footer -->
<jcms:module:footer-booking/>
<jcms:module:popup/>
<!-- new footer end -->
<script src="js/jquery.min.js"></script>
<script src = 'https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js'></script>
 <script src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js'></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js'></script
  
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script src='https://code.jquery.com/ui/1.13.2/jquery-ui.js'></script>
  <script src="js/index.js"></script>
  
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
    <script>
    
  </script>
<!-- <script>
//   window.onload = function() {
//     var $grid = $('.grid').masonry({
//       itemSelector: '.grid-item',
//       percentPosition: true,
//       columnWidth: '.grid-sizer'
//     });
    
//     // layout Masonry after each image loads
//     $grid.imagesLoaded().progress(function() {
//       $grid.masonry('layout');
//     });
//   };
 </script>-->
 
    <script defer>
    
        
     $(window).on('load', function() {
         console.log('window load');
         lightGallery(document.getElementById('lightgallery'), {
            selector: 'a',
        })
    
         
         
     })
     
     var $grid = $('.grid').masonry({
       itemSelector: '.grid-item',
       percentPosition: true,
       columnWidth: '.grid-sizer'
     });
     // layout Masonry after each image loads
     $grid.imagesLoaded().progress( function() {
       $grid.masonry('layout');
     });  
    </script>

  
  <script>
$(document).ready(function() {
    $('.get_location').click(function(e) {
        e.preventDefault();
        var newSrc = $(this).data('src');
        $('#map_change').attr('src', newSrc);
    });
});
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
        // $("#modal-popup-video").modal('show');
        // $('#modal-popup-video').on('hidden.bs.modal', function () {
        //     $("#modal-popup-image").modal('show');
        //     console.log("video closed")
        //     $("#modal-popup-video iframe").attr("src", "");
        // });
        // if ($('#modal-popup-video')[0]) {
        //     $("#modal-popup-image").modal('hide');
        // } else {
        //     $("#modal-popup-image").modal('show');
        // }



        // const myModal = new bootstrap.Modal('#modal-popup-image');
        // myModal.show();
        
        // const carousel = new bootstrap.Carousel('#myCarousel')
    });
</script>
</body>

</html>