<!DOCTYPE html>
<html lang="en">
  <head>
    <jcms:site:seotitle/>

    <!-- Fevicon -->
    <jcms:site:fevicon/>
    <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- start head script -->
    <link rel="stylesheet" href="css/be-style.css">
    <!-- <script src="js/be-script.js"></script> -->
    <!-- end head script -->
  </head>

<body>

<!-- navbar -->
<jcms:module:header/>
<!-- navbar end -->

<!-- date picker -->
<!--<jcms:module:booking_undergallery/>-->
<!-- date picker end -->



<!-- inner banner -->
<jcms:module:inner-about-bread />
<!-- inner banner end -->

<!-- content -->
<div class="container margin_20">
<!-- about hotel -->
<div class="about_hotel">
<div class="row justify-content-center">
    <jcms:module:inner-about-detail/>
</div>
</div>
<!-- about hotel end -->


</div>

<!-- content end--> 
<!-- ota section -->

<!-- ota section -->

  <!-- new footer -->
<jcms:module:footer-booking/>
<!-- new footer end -->

<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script src='https://code.jquery.com/ui/1.13.2/jquery-ui.js'></script>
 <script src="js/index.js"></script> 
</body>

</html>