<!DOCTYPE html>
<html lang="en">
<head>
  <jcms:site:seotitle/>

  <!-- Fevicon -->
  <jcms:site:fevicon/>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'>
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href='//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">

  <!-- start head script -->
  <link rel="stylesheet" href="css/be-style.css">
  <script src="js/be-script.js"></script>
  <!-- end head script -->
</head>

<body>


<!-- header start -->
<jcms:module:header/>

<!--<jcms:module:booking_undergallery/>-->

<!-- start Search form script -->
<div id='block-search' class="date_pickers date__ajax">
    <div id='be-search-form' class='container'>
        <a href='https://exely.com/' rel='nofollow' target='_blank'>Hotel management software</a>
    </div>
</div>
<!-- end Search form script -->

<!--================ Subpackage etail =================-->
<jcms:module:sub-package-detail/>
<!--================ Subpackage Detail =================-->







<!--footer-->
<jcms:module:footer-booking/>






<script src="js/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script src='https://code.jquery.com/ui/1.13.2/jquery-ui.js'></script>
    <script src="js/index.js"></script>
  
  
  </body>
  
  </html>
