<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Crystal Pashupati</title>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- start head script -->
  <link rel="stylesheet" href="css/be-style.css">
  <!-- <script src="js/be-script.js"></script> -->
  <!-- end head script -->
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href=""><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3 active">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<!--<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>-->
<!-- date picker end -->
        <!-- start Search form script -->
        <div id='block-search'>
          <div id='be-search-form' class='container'>
            <a href='https://exely.com/' rel='nofollow' target='_blank'>Hotel management software</a>
          </div>
        </div>
        <!-- end Search form script -->
        <!-- inner banner -->
        <div class="super_deluxefamilyroom text-center">
          <nav aria-label="breadcrumb">
            <h2 class="text-white">Super Deluxe Family Room </h2>
            <ol class="breadcrumb text-white justify-content-center">
              <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Rooms</li>
            </ol>
          </nav>
      </div>
      <!-- inner banner end -->  
      <!-- container -->
      <div class="room_inner_page margin_20">
<div class="container">
  <div class="row room_specification">
    <div class="col-sm-4 text-center">
     <img src="image/rooms_icon/bed.png" alt="">
    <p>Bed Type:</p>
    <p>Queen & Single</p>
  </div>
    <div class="col-sm-4 text-center">
     <img src="image/rooms_icon/sleep.png" alt="">
    <p>Sleeps:</p>
    <p>3</p>
  </div>
    <div class="col-sm-4 text-center">
     <img src="image/rooms_icon/area.png" alt="">
    <p>Area:</p>
    <p>300 sq.ft</p>
  </div>
</div>
<!-- inner page carousel -->
  <!-- image Slider -->
  <div class="room_page mt-5">
    <div class="rooms_inner_slider owl-carousel owl-theme">
      <div class="item">
        <img src="image/images_new/super_deluxe_family/IMG_0236.jpg" alt="">
      </div>
      <div class="item">
        <img src="image/images_new/super_deluxe_family/IMG_0249.jpg" alt="">
      </div>
      <div class="item">
        <img src="image/images_new/super_deluxe_family/IMG_0265.jpg" alt="">
      </div>
      <div class="item">
        <img src="image/images_new/super_deluxe_family/IMG_0290.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- image Slider end -->
  <!-- text article -->
  <p>Welcome to our Super Deluxe Family Room, where comfort meets convenience for families and friends. Featuring two beds accommodating up to three guests, along with essential amenities like a minibar and coffee/tea maker, this cozy retreat ensures a relaxing stay. With parqueted floors adding a touch of elegance, it's the perfect space to create lasting memories with loved ones.</p>
  <!-- text article end -->
<div class="room__amenities mt-5 pt-5">
  <h4>Room Amenities</h4>
  <div class="row pt-5 mt-3">
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/coffee-machine.png" alt="">
        <p>Tea/Coffee Maker</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/minibar.png" alt="">
        <p>Minibar</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/wifi.png" alt="">
        <p>Free Wifi</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/tv-monitor.png" alt="">
        <p>TV</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/room_service.png" alt="">
        <p>Room Service</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/telephone.png" alt="">
        <p>Telephone</p>      
      </div>
    </div>

    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/coffe-table.png" alt="">
        <p>Coffee Table/Chairs</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/closet.png" alt="">
        <p>Wardrobe</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/water.png" alt="">
        <p> Water Bottle Complementary</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/laundary.png" alt="">
        <p>Laundry Services</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/air-conditioner.png" alt="">
        <p>Air Conditioning</p>      
      </div>
    </div>
  </div>
</div>
<!-- washroom amenities -->
<div class="washroom__amenities mt-5 pt-5">
  <h4>washroom amenities</h4>
  <div class="row pt-5 mt-3">
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/slipper.png" alt="">
        <p>Slippers</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/007-dentist.png" alt="">
        <p>Dental Kit</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/towel.png" alt="">
        <p>Bath Towel</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/toiletries.png" alt="">
        <p>Toiletries</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/hairdryer.png" alt="">
        <p>Hair Dryer</p>      
      </div>
    </div>
    <div class="col-md-4">
      <div class="room_items">
        <img src="image/rooms_icon/telephone.png" alt="">
        <p>Telephone</p>      
      </div>
    </div>
  </div>
</div>
<!-- washroom amenities end -->

<!-- other rooms -->
<div class="other_roomss">
  <h4>Other Rooms</h4>
</div>
    <div class="rooms_other_slider owl-carousel owl-theme pt-5 mb-5">
      <div class="item">
        <img src="image/img/room a.jpg" alt="">
        <h3>Suite Room</h3>
        <p>Experience Luxury Redefined</p>
        <a href="suite.html" class="btn btn-outline-danger">Learn More</a>
      </div>
      <div class="item">
        <img src="image/img/room a.jpg" alt="">
        <h3>Deluxe Family Room</h3>
        <p>Perfect Retreat for Family Bonding.</p>
        <a href="deluxefamily.html" class="btn btn-outline-danger">Learn More</a>
      </div>
      <div class="item">
        <img src="image/images_new/deluxe__double/IMG_0194.jpg" alt="">
        <h3>Deluxe Double Room</h3>
        <p>Comfort and Style Combined</p>
        <a href="deluxedouble.html" class="btn btn-outline-danger">Learn More</a>
      </div>
    </div>
<!-- other rooms end -->
</div>

      </div>
      <!-- container end -->
      <!-- inner page carousel end -->
  
  <!-- new footer -->
  <div class="footer_ajax"></div>
  <!-- new footer end -->
  
    <script src="js/jquery.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="js/index.js"></script>
  
  
  </body>
  
  </html>
