<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Crystal Pashupati</title>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light position-fixed top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href="https://crystalpashupati.com/project/index.html"><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3 active">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>
<!-- date picker end -->
  <!-- dining -->
      <!-- inner banner -->
      <div class="dinning_banner_image text-center">
        <nav aria-label="breadcrumb">
          <h2 class="text-white">Dining</h2>
          <ol class="breadcrumb text-white">
            <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Dining</li>
          </ol>
        </nav>
    </div>
    <!-- inner banner end -->
    <div class="container margin_20">
      <img src="image/logo/logo_group/SkyDeck.png" alt="" width="170px" class="mx-auto d-block mb-5">
      <div class="dining_content">
        <div class="row align-items-center justify-content-center gx-md-5">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <h2>SkyDeck by Crystal</h2>
            <p>Welcome to SkyDeck by Crystal, our exquisite on-site restaurant boasting two distinct decks to cater to your dining desires. The lower deck exudes a cozy ambiance, perfect for indulging in hearty breakfasts or enjoying quality time with family and friends. Meanwhile, ascend to the upper deck for a panoramic dining experience with breathtaking views of the airport and beyond. With both open rooftop seating and two private dining rooms available, we can accommodate a total of 130 guests. Our culinary offerings tantalize the taste buds with a fusion of flavors, featuring our signature Go Local menu alongside Indian delicacies, complemented by oriental, continental, and western touches. Complete your dining experience with a visit to our full-fledged bar, where you can unwind with expertly crafted cocktails and a selection of premium beverages.</p>
            <!-- restaurant info -->
            <div class="restaurant_info mt-5">
              <table class="table text-center fw-light table-bordered">
                <thead>
                  <tr>
                    <th>Covers</th>
                    <th>Type</th>
                    <th>Timing</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>130 pax</td>
                    <td>Multi-Cuisine</td>
                    <td>7:00 AM to 11:00 PM</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- restaurant info end -->
          </div>
<div class="col-lg-5 col-md-12">
  <div class="dining_image_slider owl-carousel">
<div class="item">
  <img src="image/img/restaurant_logo.jpg" alt="" class="img-fluid">
</div>
<div class="item">
  <img src="image/img/restaurant_logo.jpg" alt="" class="img-fluid">
</div>
<div class="item">
  <img src="image/img/restaurant_logo.jpg" alt="" class="img-fluid">
</div>
  </div>
</div>

        </div>
      </div>

    </div>

  <!-- dining end -->

  <!-- new footer -->
<div class="container mt-5 footer_ajax"></div>
<!-- new footer end -->

  <script src="js/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="js/index.js"></script>
</body>

</html>