<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Crystal Pashupati</title>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light position-fixed top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href="https://crystalpashupati.com/project/index.html"><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3 active">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>
<!-- date picker end -->
        <!-- inner banner -->
        <div class="events_banner_image text-center">
          <nav aria-label="breadcrumb">
            <h2 class="text-white">Events</h2>
            <ol class="breadcrumb text-white">
              <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Events</li>
            </ol>
          </nav>
      </div>
      <!-- inner banner end -->
<!-- event content -->
<div class="container margin_20">
   <img src="image/logo/logo_group/EVENTS.png" alt="" width="110px" class="mx-auto d-block mb-5">
  <div class="event_contents mb-5">
    <div class="row justify-content-center align-items-center event_background_color p-lg-4">
      <div class="col-lg-6 col-md-12">
        <h2>Kreeti Hall</h2>
        <p class="mt-4">Kreeti Hall, derived from the Sanskrit word meaning "achievement" or "success," stands as a testament to its name, offering a grand space for a variety of events. As the larger hall, it boasts a pre-function area and buffet space, all fully air-conditioned and equipped with state-of-the-art audio-visual technology and other essential amenities. Ideal for resident conferences, meetings, seminars, and special events, Kreeti Hall provides a sophisticated setting for both corporate gatherings and social occasions alike.</p>
      <div class="event_details">
        <div class="row">
          <div class="col-sm-4">
            <p><i class="fa-solid fa-ruler-combined"></i>&nbsp; 2100 sq.ft</p>
          </div>
          <div class="col-sm-4">
            <p><i class="fa-solid fa-people-group"></i>&nbsp; 200 people</p>

          </div>
        </div>
      </div>
      <button type="button" class="enquiry_btn btn" data-bs-toggle="modal" data-bs-target="#hall_enquirya">Enquire</button>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="event_image_wrapper kreeti_hall">
          <img src="image/img/hall-a_logo.jpg" alt="">
        </div>
      </div>
    </div>
 <!-- hall table -->
 <!--<div class="hall_capacity mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><img src="image/halls/area.png" alt="">
          <p>Hall Size</p></th>
        <th><img src="image/halls/ushape.png" alt=""><p>U Shape</p></th>
        <th><img src="image/halls/theatre.png" alt=""><p>Classroom</p></th>
        <th><img src="image/halls/theatre.png" alt=""><p>Theatre</p></th>
        <th><img src="image/halls/round_table.png" alt=""><p>Round Table</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2100 sq.ft</td>
        <td>120</td>
        <td>110</td>
        <td>200</td>
        <td>80</td>
      </tr>
    </tbody>
  </table>
</div>-->
 <!-- hall table end -->
  </div>
  <div class="event_contents">
    <div class="row justify-content-center align-items-center event_background_color p-lg-4">
      <div class="col-lg-6 col-md-12 order-lg-1">
        <h2>Kavya Hall</h2>
        <p class="mt-4">Kavya Hall, inspired by the Sanskrit term for "poetry" or "literature," embodies elegance and creativity, providing a charming venue for a diverse range of events. Similar to its counterpart, Kavya Hall offers a fully air-conditioned environment, along with advanced audio-visual technology and necessary equipment. Whether hosting corporate meetings or celebrating special occasions, this hall sets the stage for memorable moments in a refined and inspiring setting.</p>
      <div class="event_details">
        <div class="row">
          <div class="col-sm-4">
            <p><i class="fa-solid fa-ruler-combined"></i>&nbsp; 1500 sq.ft</p>
          </div>
          <div class="col-sm-4">
            <p><i class="fa-solid fa-people-group"></i>&nbsp; 150 people</p>

          </div>
        </div>
      </div>
      <button type="button" class="enquiry_btn btn" data-bs-toggle="modal" data-bs-target="#hall_enquiryb">Enquire</button>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="event_image_wrapper crystal_hall">
          <img src="image/img/hall-b_logo.jpg" alt="">
        </div>
      </div>
    </div>
     <!-- hall table -->
 <!-- hall table -->
 <!--<div class="hall_capacity mt-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><img src="image/halls/area.png" alt="">
          <p>Hall Size</p></th>
        <th><img src="image/halls/ushape.png" alt=""><p>U Shape</p></th>
        <th><img src="image/halls/theatre.png" alt=""><p>Classroom</p></th>
        <th><img src="image/halls/theatre.png" alt=""><p>Theatre</p></th>
        <th><img src="image/halls/round_table.png" alt=""><p>Round Table</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1500 sq.ft</td>
        <td>90</td>
        <td>80</td>
        <td>150</td>
        <td>55</td>
      </tr>
    </tbody>
  </table>
</div>

  </div>

</div>-->
<!-- event content end -->
<!-- pop out -->
    
    <div class="modal fade" id="hall_enquirya" tabindex="-1" aria-labelledby="hall_Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: var(--color-orange);">
            <h1 class="modal-title fs-5" id="hall_Label">Hall Enquiry</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <form id="hall_conta">
              <div class="mb-4">
                <input type="text" class="form-control" id="FullName" name="name" placeholder="Full Name">
                <input type="hidden" class="form-control"  name="hall" value="Kreeti Hall">
              </div>
              <div class="mb-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
              <div class="mb-4">
                <input type="number" class="form-control" id="Contact"  name="contact" placeholder="Mobile No.">
              </div>
              <div class="mb-4">
                <input type="text" class="form-control" id="event_name" name="event" placeholder="Event Name">
              </div>
              <div class="mb-4 d-flex justify-content-between gap-3">
                <div class="book_date flex-grow-1">
                <input type="date" class="form-control" id="date" name="date" placeholder="Date">
                </div>
                <div class="no_pax flex-grow-1">
                  <input type="number" class="form-control"  name="pax" id="number" placeholder="Pax">
                </div>
              </div>
           
              <div class="mb-3">
                <textarea class="form-control" id="message-text" name="message" placeholder="Message"></textarea>
              </div>
              <div class="mb-3">
              <div class="g-recaptcha" data-sitekey="6LcJdJspAAAAAOMSDeSzpDwDHqexpELexIkhOPck"></div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="submit" class="btn btn-danger">Submit</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
    
    
     <div class="modal fade" id="hall_enquiryb" tabindex="-1" aria-labelledby="hall_Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: var(--color-orange);">
            <h1 class="modal-title fs-5" id="hall_Label">Hall Enquiry</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <form id="hall_contb">
              <div class="mb-4">
                <input type="text" class="form-control" id="FullName" name="name" placeholder="Full Name">
                <input type="hidden" class="form-control"  name="hall" value="Kavya Hall">
              </div>
              <div class="mb-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
              <div class="mb-4">
                <input type="number" class="form-control" id="Contact"  name="contact" placeholder="Mobile No.">
              </div>
              <div class="mb-4">
                <input type="text" class="form-control" id="event_name" name="event" placeholder="Event Name">
              </div>
              <div class="mb-4 d-flex justify-content-between gap-3">
                <div class="book_date flex-grow-1">
                <input type="date" class="form-control" id="date" name="date" placeholder="Date">
                </div>
                <div class="no_pax flex-grow-1">
                  <input type="number" class="form-control"  name="pax" id="number" placeholder="Pax">
                </div>
              </div>
           
              <div class="mb-3">
                <textarea class="form-control" id="message-text" name="message" placeholder="Message"></textarea>
              </div>
              <div class="mb-3">
              <div class="g-recaptcha" data-sitekey="6LcJdJspAAAAAOMSDeSzpDwDHqexpELexIkhOPck"></div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="submit" class="btn btn-danger">Submit</button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
<!-- pop out end -->
<!-- hall amenities -->
<div class="hall_amenities margin_20">
  <h4 class="Amenities">Hall Features</h4>
<div class="container mt-5 pb-5">
  <div class="row">
      <div class="col-sm-3">
     <img src="image/halls/amenities/wifi.png" alt="">
     <p>High Speed Internet</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/projector.png" alt="">
     <p>Projector Sytem</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/ac.png" alt="">
     <p>Air Conditioner</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/audio.png" alt="">
     <p>Microphone & Speaker</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/conferenc.png" alt="">
     <p>Audio Visual Equipment</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/computer.png" alt="">
     <p>Laptop & Computer</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/printer.png" alt="">
     <p>Printing Services</p>
    </div>
    <div class="col-sm-3">
     <img src="image/halls/amenities/notebook.png" alt="">
     <p>Writing Pads</p>
    </div>
  </div>
</div>
</div>
<!-- hall amenities end -->


  <!-- new footer -->
<div class="container mt-5 footer_ajax"></div>
<!-- new footer end -->

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-validate.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="js/index.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script type="text/javascript">
        // var base_url = $('base').attr('url');
        $(document).ready(function () {
            $('#hall_conta').validate({
                errorElement: 'span',
                errorClass: 'validate-has-error',
                rules: {
                    name: {required: true},
                    email: {required: true, email: true},
                    contact: {required: true},
                    date: {required: true},
                    pax: {required: true},
                    subject: {required: true},
                    message: {required: true}
                },
                messages: {
                    name: {required: "Please enter your Name."},
                    email: {required: "Please enter your email."},
                    contact: {required: "Please enter your Phone Number."},
                    subject: {required: "Please enter your Subject."},
                    event: {required: "Please enter your event name."},
                    pax: {required: "Please enter your pax."},
                    message: {required: "Please enter your Message."}
                },
                submitHandler: function (form) {
                    var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    alert("Please check the recaptcha");
                    return false;
                }
                    var Frmval = $("form#hall_conta").serialize();
                    $("button#submit").attr("disabled", "true").text('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: "inquiry_mail.php",
                        data: "action=hall_form&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#submit").removeAttr("disabled").text('Submit');
                            $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                            $("form#hall_conta")[0].reset();
                        }
                    });
                    return false;
                }
            })
        });
    </script>
    <script type="text/javascript">
        // var base_url = $('base').attr('url');
        $(document).ready(function () {
            $('#hall_cont').validate({
                errorElement: 'span',
                errorClass: 'validate-has-error',
                rules: {
                    name: {required: true},
                    email: {required: true, email: true},
                    contact: {required: true},
                    date: {required: true},
                    pax: {required: true},
                    subject: {required: true},
                    message: {required: true}
                },
                messages: {
                    name: {required: "Please enter your Name."},
                    email: {required: "Please enter your email."},
                    contact: {required: "Please enter your Phone Number."},
                    subject: {required: "Please enter your Subject."},
                    event: {required: "Please enter your event name."},
                    pax: {required: "Please enter your pax."},
                    message: {required: "Please enter your Message."}
                },
                submitHandler: function (form) {
                    var recaptcha = $("#g-recaptcha-response").val();
                if (recaptcha === "") {
                    event.preventDefault();
                    alert("Please check the recaptcha");
                    return false;
                }
                    var Frmval = $("form#hall_cont").serialize();
                    $("button#submit").attr("disabled", "true").text('Processing...');
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: "inquiry_mail.php",
                        data: "action=hall_form&" + Frmval,
                        success: function (data) {
                            var msg = eval(data);
                            $("button#submit").removeAttr("disabled").text('Submit');
                            $('div#result_msg').html(msg.message).css('display', 'block').fadeOut(8000);
                            $("form#hall_cont")[0].reset();
                        }
                    });
                    return false;
                }
            })
        });
    </script>


</body>

</html>