<div class="footer_new">
    <div class="menu__items">
      <ul class="d-flex  justify-content-md-between list-unstyled footer_menu mx-5 text-uppercase px-md-5 flex-wrap">
        <li><a href="index.html">home</a></li>
        <li><a href="rooms.html">rooms</a></li>
        <li><a href="events.html">events</a></li>
        <li><a href="dining.html">Dining</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <div class="social_icons mt-5">
        <ul class="list-unstyled d-flex gap-3 mt-4 justify-content-center">
          <li><a href="https://www.facebook.com/HotelCrystalPashupati"><i class="fa-brands fa-facebook-f "></i></a></li>
          <li><a href="https://www.instagram.com/crystalpashupati"><i class="fa-brands fa-instagram "></i></a></li>
          <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
        </ul>
      </div>
      <h3 class="text-uppercase text-center my-5">Hotel Crystal Pashupati</h3>

    </div>
    <div class="crystal_pashupati_logo d-flex  justify-content-md-center align-items-center gap-2 gap-md-0 mx-auto flex-wrap">
      <a href="index.html"><img src="image/logo/logo_group/crystal.png" alt="Crystal Pashupati" class="image_one"></a>
      <a href="dining.html"><img src="image/logo/logo_group/SkyDeck.png" alt="Sky Deck"  class="image_three">
      </a>
      <a href="events.html"><img src="image/logo/logo_group/EVENTS.png" alt="Crystal Event"  class="image_two align-self-lg-start"></a>
      <div class="line_divider"></div>
<a href="https://tradetower.com.np" target="_blank"><img src="image/logo/logo_group/1000x1000.png" alt="Trade Tower"  class="image_four">
</a>
    </div>
    &nbsp;
    <hr>
<div class="contact__information mt-5">
  <ul class="list-unstyled mx-4 footer_line_height d-flex justify-content-md-around flex-wrap gap-2 gap-sm-0">
    <li><i class="fa fa-phone"></i>&nbsp;<a href="tel:01-4575700">+977-01-4575700</a>&nbsp;|&nbsp;<a href="tel:9767649416">9767649416</a></li>
    <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:front@crystalpashupati.com">front@crystalpashupati.com</a>
    </li>
    <li><i class="fa fa-map-marker"></i>&nbsp;Gaushala, Kathmandu, Nepal</li>
</ul>
</div>
<div class="d-flex justify-content-between align-items-center footer_copyright px-2 mt-3 flex-wrap">
  <p class="text-center mt-4">Copyright © 2024 Crystal Pashupati. All Rights Reserved. Developed by&nbsp;<a href="http://longtail.info/n/" target="_blank">Longtail e-media</a></p>
<img src="image/cards.png" alt="visa"  height="20px" class="d-block mx-auto mx-sm-0">
</div>
  </div>