<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crystal Pashupati</title>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lg-zoom.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light position-fixed top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href="https://crystalpashupati.com/project/index.html"><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3 active">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>
<!-- date picker end -->
        <!-- inner banner -->
        <div class="gallery_banner_image text-center">
          <nav aria-label="breadcrumb">
            <h2 class="text-white">Gallery</h2>
            <ol class="breadcrumb text-white">
              <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Home</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Gallery</li>
            </ol>
          </nav>
      </div>
      <!-- inner banner end -->
<!--  -->
<!-- gallerr images -->
<div class="gallery_wrapper container my-5">
  <div class="button-group filter-button-group d-flex justify-content-center">
      <button data-filter="*">Show All</button>
      <button data-filter=".rooms">Rooms</button>
      <button data-filter=".dining">Dining</button>
      <button data-filter=".events">Events</button>
  </div>
  <div class="image_gallery mt-5">
<div class="row" id="lightgallery">
  <div class="col-md-4  element-item rooms">
<a href="image/img/room a.jpg">
  <img src="image/img/room a.jpg" alt="">
</a>
</div>
  <div class="col-md-4  element-item rooms">
<a href="image/images_new/deluxe__double/IMG_0194.jpg">
  <img src="image/images_new/deluxe__double/IMG_0194.jpg" alt="">
</a> </div>
  <div class="col-md-4  element-item rooms">
<a href="image/images_new/deluxe__double/IMG_0203.jpg">
  <img src="image/images_new/deluxe__double/IMG_0203.jpg" alt="">
</a> </div>
  <div class="col-md-4  element-item rooms">
<a href="image/images_new/super_deluxe_family/IMG_0249.jpg">
  <img src="image/images_new/super_deluxe_family/IMG_0249.jpg" alt="">
</a> </div>
  <div class="col-md-4  element-item rooms">
<a href="image/images_new/super_deluxe_family/IMG_0290.jpg">
  <img src="image/images_new/super_deluxe_family/IMG_0290.jpg" alt="">
</a> </div>
  <div class="col-md-4  element-item rooms">
<a href="image/img/suite.jpg">
  <img src="image/img/suite.jpg" alt="">
</a>  </div>
  <div class="col-md-4  element-item dining">
<a href="image/img/restaurant_logo.jpg">
  <img src="image/img/restaurant_logo.jpg" alt="">

</a>
  </div>
  <div class="col-md-4  element-item events">
<a href="image/img/hall-a.jpg">
  <img src="image/img/hall-a.jpg" alt="">
</a> </div>
  <div class="col-md-4  element-item events">
<a href="image/img/hall-b.jpg">
  <img src="image/img/hall-b.jpg" alt="">
</a>
</div>
  <div class="col-md-4  element-item events">
<a href="image/img/hall-a.jpg">
  <img src="image/img/hall-a.jpg" alt="">
</a>
</div>
  
</div>

  </div>
</div>


<!-- gallerr images end -->

  <!-- new footer -->
<div class="container mt-5 footer_ajax"></div>
<!-- new footer end -->

  <script src="js/jquery.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="js/index.js"></script>
  <script>
    $(document).ready(function(){
      // Initialize Isotope
      var $grid = $('.image_gallery').isotope({
        itemSelector: '.element-item',
      });
  
      // Filter items on button click
      $('.filter-button-group').on('click', 'button', function() {
        var filterValue = $(this).attr('data-filter');
        $grid.isotope({ filter: filterValue });
        // Refresh layout after filtering
      });
    });
  </script>
  <Script>
    lightGallery(document.getElementById('lightgallery'), {
    selector: 'a',
})
  </Script>
</body>

</html>