<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Crystal Pashupati</title>
    <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="css/style.css">
  </head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light position-fixed top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href="https://crystalpashupati.com/project/index.html"><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3 active">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>
<!-- date picker end -->
  <!-- inner banner -->
  <div class="hotel_banner_image text-center">
      <nav aria-label="breadcrumb">
        <h2 class="text-white">About Us</h2>
        <ol class="breadcrumb text-white">
          <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Home</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
        </ol>
      </nav>
  </div>
  <!-- inner banner end -->
<!-- content -->
<div class="container margin_20">
<!-- about hotel -->
<div class="about_hotel">
<div class="row justify-content-center">
    <div class="col-md-9">
        <h2 class="welcome_title pb-4">Welcome to Hotel Crystal Pashupati</h2>
        <p>Experience tranquility and comfort just steps away from the blessed Pasupatinath Temple. Immerse yourself in our cozy rooms, modern facilities and soothing decor curated to enhance your stay and create lasting memories. Conveniently located near the airport, your journey to relaxation begins the moment you arrive. Whether you're here for spiritual enlightenment or simply seeking a peaceful retreat, let us be your oasis in the heart of Kathmandu.
<br><span style="font-weight: 700;">- Hotel by Trade Tower Group -</span>
</p>
    </div>
    <div class="col-md-12 mt-5">
        <img src="image/slider/1.jpg" alt="Hotel" class="img-fluid">
    </div>
</div>
</div>
<!-- about hotel end -->


</div>

<!-- content end--> 


  <!-- new footer -->
<div class="container mt-5 footer_ajax"></div>
<!-- new footer end -->

<script src="js/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="js/index.js"></script>
</body>

</html>