<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Crystal Pashupati</title>
  <link rel="shortcut icon" href="image/logo/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-light position-fixed top-0 z-3 w-100  nav_bar">
    <div class="container">
      <a class="navbar-brand" href="https://crystalpashupati.com/project/index.html"><img src="image/logo/logo.png" width="80px;" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar_contact">
        <ul>
          <li><i class="fa-solid fa-phone"></i><a href="tel:+977-1-4575700"> +977-1-4575700</a>&nbsp;|&nbsp;<a href="tel:+977-9767649416">9767649416</a></li>
       <li><i class="fa-solid fa-location-arrow"></i><a href="https://maps.app.goo.gl/MJ6LNtbEQgmqaxch9" target="_blank"> Get Directions</a></li></ul>
      </div>
      <div class="collapse navbar-collapse navbar_gaping" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
          <li class="nav-item px-3">
            <a class="nav-link" aria-current="page" href="hotel.html">Hotel</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="rooms.html">Rooms</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="dining.html">Dining</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="gallery.html">Gallery</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- navbar end -->
<!-- date picker -->
<div class="date_box_wrapper">
  <div class="date_pickers date__ajax">
    <div class="container">
        <form action="">
        <div class="row gx-3 justify-content-center">
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control " id="Check_in" placeholder="Check In" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-3 mb-3 mb-sm-0">
          <div class="form-group position-relative">
            <input type="text" class="form-control" id="Check_out" placeholder="Check Out" class="pt-3">
            <i class="fa-regular fa-calendar-check icon_calender"></i>
          </div>
        </div>
        <div class="col-md-2 mb-3 mb-sm-0">
          <button type="submit" id="book_now" class="btn btn__action w-100">Book Now</button>
        </div>
        </div>
        </form>
          </div>
    </div>
</div>
<!-- date picker end -->


  <!-- about_us section end -->
  <!-- our room -->
  <section class="our_rooms margin_20 container">
    <h4>Our Rooms</h2>
      <p class="subtitle text-center">Discover Your Ideal Retreat: Explore Our Range of Exquisite Rooms</p>
      <div class="rooms_slider">
        <div class="owl-carousel rooms__slider owl-theme">
          <div class="item">
            <div class="our_rooms_wrapper">
              <img src="image/img/suite.jpg" alt="">
            </div>
            <div class="room_info mt-3">
              <h3>Suite Room</h3>
              <p>Experience Luxury Redefined</p>
              <a href="suite.html" class="text-decoration-none text-black">Explore</a>
            </div>
          </div>
          <div class="item">
            <div class="our_rooms_wrapper">
              <img src="image/images_new/super_deluxe_family/IMG_0249.jpg" alt="">
            </div>
            <div class="room_info mt-3">
              <h3>Super Deluxe Family Room</h3>
              <p>Spacious Comfort for the Whole Family</p>
              <a href="superdeluxe.html" class="text-decoration-none text-black">Explore</a>
            </div>
          </div>
          <div class="item">
            <div class="our_rooms_wrapper">
              <img src="image/img/suite.jpg" alt="">
            </div>
            <div class="room_info mt-3">
              <h3>Deluxe Family Room</h3>
              <p>Perfect Retreat for Family Bonding</p>
              <a href="deluxefamily.html" class="text-decoration-none text-black">Explore</a>
            </div>
          </div>
          <div class="item">
            <div class="our_rooms_wrapper">
              <img src="image/images_new/deluxe__double/IMG_0194.jpg" alt="">
            </div>
            <div class="room_info mt-3">
              <h3>Deluxe Double Room</h3>
              <p>Comfort and Style Combined</p>
              <a href="deluxedouble.html" class="text-decoration-none text-black">Explore</a>
            </div>
          </div>

  </section>
  <!-- our room end -->
<!-- Amenities -->
<section class="amenities_services margin_20">
<div class="container">
  <h4>Amenities and Services</h2>
    <p class="subtitle text-center">Elevate Your Stay: Experience the Ultimate Comfort with Our Amenities</p>

    <div class="rows amenities__icons justify-content-center">
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/wifi.png">
        <h5>Free WIFI</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/parking.png">
        <h5>Free Parking</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/temple.png">
        <h5>Pasupatinath Aarati Tour</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/air-conditioner.png">
        <h5>Air Conditioned Room</h5>
      </div>
      <div class="col-md--3 col-sm--12">
     <img src="image/icons/airport.png">
   <h5>Airport Pickup/Drop</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/restaurant.png">
        <h5>On-Site Restaurant</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/room_Service.png">
        <h5>Room Service</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/dryer.png">
        <h5>Laundry Services</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/party.png">
        <h5>Banquet & Event Space</h5>
      </div>
      <div class="col-md--3 col-sm--12">
        <img src="image/icons/charging.png">
        <h5>EV Charging</h5>
      </div>
    </div>
</div>
</section>
<!-- Amenities end -->
<!-- halls part -->
<section class="two_halls margin_20">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="events.html"><img src="image/img/hall-a_logo.jpg" class="img__responsive" alt=""></a>
      <a href="events.html"><span>Kreeti Hall</span></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="events.html"><img src="image/img/hall-b_logo.jpg" class="img__responsive" alt=""></a>
      <a href="events.html"><span>Kavya Hall</span></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="dining.html"><img src="image/img/restaurant_logo.jpg" class="img__responsive" alt=""></a>
      <a href="dining.html"><span>SkyDeck Restaurant</span></a>
    </div>
  </div>
</div>
</section>
<!-- halls part end -->
<!-- near by Location -->
<div class="near_by__attraction text-center margin_20">
 <div class="container">
  <h4>Central Location</h2>
    <p class="subtitle text-center">Discover Nearby Gems: Experience Convenience in Our Central Location</p>
  <div class="row g-5">
    <div class="col-lg-3 col-md-3 col-sm-12 ">
      <img src="image/icons/temple.png" width="50px" alt="" class="mb-3">
        <h5>Pashupatinath Temple</h5>
        <div class="d-flex justify-content-around  pt-3">
            <p>0.2 km</p>
            <a href="javascript:void(0);" class="get_location" data-src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3532.29184426895!2d85.34345802538029!3d27.708274076182047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x39eb190b4e019b95%3A0x4355e57a9c35365e!2sCrystal%20Pashupati%2C%20Pingalastan%2C%20Kathmandu%2044600!3m2!1d27.7055945!2d85.3460103!4m5!1s0x39eb191aaaaaaaab%3A0x424c7d0a60df9091!2sPashupatinath%20Temple%2C%20Pashupati%20Nath%20Road%2C%20Kathmandu!3m2!1d27.710511999999998!2d85.3488125!5e0!3m2!1sen!2snp!4v1707204294572!5m2!1sen!2snp"> Get
                Direction</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="image/icons/air_port.png" width="50px" alt="" class="mb-3">
        <h5>Tribhuvan International Airport</h5>
        <div class="d-flex justify-content-around  pt-3">
            <p>1 km</p>
            <a href="javascript:void(0);" class="get_location" data-src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d7064.915064339655!2d85.34623623954778!3d27.703156404739442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x39eb190b4e019b95%3A0x4355e57a9c35365e!2sHotel%20Crystal%20Pashupati%2C%20Kathmandu!3m2!1d27.7055945!2d85.3460103!4m5!1s0x39eb1a266b342bc5%3A0x73bbfa829a89af1b!2sTribhuvan%20International%20Airport%20(KTM)%2C%20Ring%20Rd%2C%20Kathmandu%2044600!3m2!1d27.7000568!2d85.3567619!5e0!3m2!1sen!2snp!4v1708874408758!5m2!1sen!2snp">Get Direction</a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="image/icons/stupa.png" width="50px" alt="" class="mb-3">     
      <h5>Bouddhanath Stupa</h5>
      <div class="d-flex justify-content-around  pt-3">
          <p>2.8 km</p>
          <a href="javascript:void(0);" class="get_location" data-src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d28258.85900763391!2d85.30951232835328!3d27.706250075683602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x39eb1854d7f6fdd3%3A0x4c8c2d088a96a105!2sBOUDDHA%20STUPA%2C%20Sundhara%20Marg%2C%20Kathmandu!3m2!1d27.702178!2d85.3129957!4m5!1s0x39eb190b4e019b95%3A0x4355e57a9c35365e!2sHotel%20Crystal%20Pashupati%2C%20Kathmandu!3m2!1d27.7055945!2d85.3460103!5e0!3m2!1sen!2snp!4v1708874486216!5m2!1sen!2snp">Get Direction</a>
      </div>
  </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <img src="image/icons/skyline.png" width="50px" alt="" class="mb-3">     

        <h5>Thamel</h5>
        <div class="d-flex justify-content-around  pt-3">
            <p>4 km</p>
            <a href="javascript:void(0);" class="get_location" data-src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d28257.763034495965!2d85.30924467836525!3d27.710481175528376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x39eb18fcb77fd4bd%3A0x58099b1deffed8d4!2sThamel%2C%20Kathmandu!3m2!1d27.715390199999998!2d85.3123293!4m5!1s0x39eb190b4e019b95%3A0x4355e57a9c35365e!2sHotel%20Crystal%20Pashupati%2C%20Kathmandu!3m2!1d27.7055945!2d85.3460103!5e0!3m2!1sen!2snp!4v1708874579573!5m2!1sen!2snp"> Get
                Direction</a>
        </div>
    </div>
 
</div>
<div class="google_map mt-5">
  <iframe id="map_change" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3532.29184426895!2d85.34345802538029!3d27.708274076182047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x39eb190b4e019b95%3A0x4355e57a9c35365e!2sCrystal%20Pashupati%2C%20Pingalastan%2C%20Kathmandu%2044600!3m2!1d27.7055945!2d85.3460103!4m5!1s0x39eb191aaaaaaaab%3A0x424c7d0a60df9091!2sPashupatinath%20Temple%2C%20Pashupati%20Nath%20Road%2C%20Kathmandu!3m2!1d27.710511999999998!2d85.3488125!5e0!3m2!1sen!2snp!4v1707204294572!5m2!1sen!2snp"></iframe>
</div>
 </div>
</div>
<!-- near by Location end -->
<!-- testimonial -->
<div class="testimonial_slider margin_20">
  <h4>Guest Review</h4>
  <p class="subtitle text-center">Uncover Authentic Experiences: Read What Our Guests Have to Say</p>
  <section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded">
  <div class="row text_decoration text-center  owl-carousel mt-5">
    <div class="col-lg-12 col-md-12 p-4 card  align-items-center">
      <p>A truly unforgettable stay at Hotel Crystal Pashupati! From the warm welcome at check-in to the impeccable service throughout our stay, every moment was a delight. The rooms were not only cozy but also equipped with all the modern amenities we could ask for.</p>
      <h5>– Sumeet P.</h5>
      <!--<img src="image/icons/restaurant.png" alt="" width="40px">-->
    </div>
    <div class="col-lg-12 col-md-12 p-4 card  align-items-center">
      <p>The morning breakfast at Hotel Crystal Pashupati was a delightful experience. The highlight, however, was undoubtedly the SkyDeck restaurant. The ambiance of the restaurant, coupled with the panoramic views, made dining here a truly unforgettable experience.</p>
      <h5>– Monika S.</h5>
      <!--<img src="image/icons/restaurant.png" alt="" width="40px">-->
    </div>

  </div>

</section>

</div>
<!-- testimonial end -->
<!-- ota section -->
<div class="ota_logo margin_20"></div>
<!-- ota section -->

<!-- new footer -->
<div class="container mt-5 footer_ajax"></div>
<!-- new footer end -->

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="js/index.js"></script>
  <script>
$(document).ready(function() {
    $('.get_location').click(function(e) {
        e.preventDefault();
        var newSrc = $(this).data('src');
        $('#map_change').attr('src', newSrc);
    });
});
  </script>
</body>

</html>