<div class="container-fluid">
  <div class="row justify-content-md-between ota__box align-items-md-center align-items-center mx-md-5 flex-nowrap">
    <div class="col-md-2 col-5">
      <img src="image/ota/agoda.png" alt="" class="ota_one">
    </div>
    <div class="col-md-2 col-5">
      <img src="image/ota/booking.webp"  alt="" class="ota_two">
    </div>
    <div class="col-md-2 col-5">
      <img src="image/ota/ctrip.png" alt="" class="ota_three">
    </div>
    <div class="col-md-2 col-5">
      <img src="image/ota/expedia.png"  alt="" class="ota_four">
    </div>
    <div class="col-md-2 col-5">
      <img src="image/ota/makemytrip.png" alt="" class="ota_five">
    </div>
  </div>
</div>